<div class="content">
    <input type="text" class="name" placeholder="请输入孩子姓名"/>
    <input type="text" class="mobile" placeholder="请输入手机号码"/>
    <input type="text" class="mcode" placeholder="请输入手机验证码"/>
    <button class="mcodeBtn" disabled="disabled">获取验证码</button>
    <div class="select">
        <div class="grade select-item comgrade" name="">选择年级</div>
        <span class="gradeImg comgrade"><img src="http://7xlkzr.com1.z0.glb.clouddn.com/img/mobile/bk-arrow-bottom2.png"/></span>
        <div class="subject select-item comsub" name="">选择科目</div>
        <span class="subImg comsub"><img src="http://7xlkzr.com1.z0.glb.clouddn.com/img/mobile/bk-arrow-bottom2.png"/></span>
    </div>
    <div class="getBtn">免费领取</div>
</div>