<html>
<body>
<head>
    <script src="http://app.jiayouxueba.cn/api/doc/js/h5rem-reset.js" charset="utf-8"></script>
</head>
<h1>My First Heading</h1>

<p>My first paragraph.</p>
<h5><%= data %></h5>
</body>
</html>