<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>老师入驻</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Language" content="zh-CN">
		<meta name="title" content="家有学霸--超人气名师在线辅导平台-首页">
		<meta name="keywords" content="家有学霸,真人辅导,在线辅导, 免费,一对一,在线课堂,作业辅导">
		<meta name="description" content="“家有学霸”代表一种全新的学习方式，是一款真人1对1在线学习辅导软件，它支持老师用手机给学生上课，类似于一个超级中小学在线课堂，学生可以通过手机找到家有学霸上的老师对自己进行1对1线上辅导。老师通过家有学霸给学生上课，可以极大地提高上课的效率，更好地保证学生的学习效果。">
		<link rel="stylesheet" type="text/css" href="http://www.jiayouxueba.com/static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<!--<link rel="stylesheet" href="css/sweetalert.css" />-->
		<link rel="stylesheet" href="css/teacher.css" />
		<!--百度统计-->
		<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?0137a4763f9d593f06903822f79f2a64";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	<body>
	<div class="container">
			<div class="header" id="header">
				<div class="head-box">
					<img src="http://7xlkzr.com1.z0.glb.clouddn.com/img/web/Logo2.png" class="logo"/>
					<a href="http://jiayouxueba.cn/admin/teacher/login" class="ruzhu" target="_blank">教师登录</a>
					<a href="http://download.jiayouxueba.com/jyxb-pc-setup-latest.zip" class="tea-login">电脑端下载</a>
					<img src="http://7xlkzr.com1.z0.glb.clouddn.com/img/web/mobile.png" class="phone"/>
					<div class="back">
						<a href="index.html">返回首页</a>
					</div>
				</div>
			</div>
			<div class="banner">
				<div class="banner-box"></div>
			</div>
			<div class="main">
				<div class="stairs stairs-one"></div>
				<div class="stairs stairs-two">
					<a href="http://jiayouxueba.cn/admin/teacher/login" target="_blank" class="stair-btn"></a>
				</div>
				<div class="stairs stairs-three">
					<a href="http://download.jiayouxueba.com/jyxb-pc-setup-latest.zip" class="stair-btn"></a>
					<div class="video-view"></div>
				</div>
			</div>
			<div class="slideNav">
				<div class="slide slideone">1</div>
				<div class="slide slidetwo">2</div>
				<div class="slide slidethree">3</div>
			</div>
			<div class="footer">
				<p>Copyright&copy;2016-2017 杭州小余小余教育科技 版权所有</p>
			</div>
			<div class="mask-view">
				<div class="mask-bg"></div>
				<div class="mask-qcode">
					<div class="mask-close"></div>
					<div class="video">
						<video controls poster="http://7xlkzr.com2.z0.glb.qiniucdn.com/jyxb-pc-app-bg3.png" height="350px">
							<source src="http://7xr4ce.media1.z0.glb.clouddn.com/jyxb-pc-app-guide5.mp4" type="video/mp4">您的浏览器不支持播放视屏,您可以更换浏览器或者</source>
						</video>
					</div>
				</div>
			</div>
		</div>
		
		<!--电话咨询-->
		<div class="counseling">
			<img src="http://7xlkzr.com1.z0.glb.clouddn.com/img/web/counseling2.png"/>
			<div class="mobilePhone">
				<img src="http://7xlkzr.com1.z0.glb.clouddn.com/img/web/mobilePhone2.png" />
				<div class="closePhone"></div>
			</div>
		</div>
		<script type="text/javascript" src="http://www.jiayouxueba.com/static/js/jquery.js"></script>
		<!--<script type="text/javascript" src="js/sweetalert.min.js"></script>-->
		<script type="text/javascript" src="js/teacher.js"></script>
		
		<script>
			var userInfor = JSON.parse(localStorage.getItem("user"));
            userInfor = {
                userName:"哈哈哈哈哈",
                userId:'1349664',
                mobile:'18255460335'
            }
            console.log(userInfor);
			if(userInfor == null){
				(function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","http://assets-cli.udesk.cn/im_client/js/udeskApi.js?1486721852639","ud");
				ud({
				    "code": "1aajh57f",
				    "link": "http://jiayouxueba.udesk.cn/im_client?web_plugin_id=23455"
				});
			}else{
				var c_name = userInfor.userName;
				var web_token = userInfor.userId;
				var c_phone = userInfor.mobile;
                console.log(web_token);
				$.ajax({
					type:"get",
                    url:"/teacher/getSign",
                    data:{"web_token": web_token},
					success:function(data){
						data = JSON.parse(data);
						var params = {
						    "code": "1aajh57f",
						    "link": "http://jiayouxueba.udesk.cn/im_client?web_plugin_id=23455",
						    "customer":{
						    	 "nonce":data.nonce,
						    	 "timestamp":data.timestamp,
						    	 "c_name": c_name,
						    	 "web_token": web_token,
						    	 "c_tags": "学生",
						    	 "signature":data.signature,
						    	 "c_phone":c_phone
						    }
						};
						(function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","http://jiayouxueba.udesk.cn/im_client/js/udeskApi.js?1484287526050","ud");
						ud(params);
					}
				});
			}
			
			$(".counseling").click(function(){
				$(".mobilePhone").css("display","block");
			})
			$(".closePhone").click(function(){
				$(".mobilePhone").css("display","none");
				return false;
			})
		</script>
		<!--流量统计-->
		<script type="text/javascript">
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cspan id='cnzz_stat_icon_1261190500'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261190500' type='text/javascript'%3E%3C/script%3E"));
		</script>
	</body>
</html>
